<!DOCTYPE html>
<html>
<head>
	<title>Edit Comment</title>
</head>
<body>
	<h3>Edit Comment</h3>
	<form action="/comments/<%= @comment.user_id %>/edit" method="post">
		<input type="text" placeholder="Edit Description" name="description"><br>
		<input type="text" placeholder="User ID" name="user_id"><br>
		<input type="text" placeholder="Properties ID" name="properties_id"><br>
		
		<p>
		<input type=submit value="Edit Comment" name="decision">
		</p>
		<p><input type=submit value="Delete Comment" name="decision"></p><br>
		<p>
	</form>

</body>
</html>