<!DOCTYPE html>
<html>
<head>
	<title>Add A Comment</title>
</head>
<body>
	<h3>Add Your Comment Here!</h3>
	<form action="properties/:id/comments/create" method="post">
		<input type="text" placeholder="Comment" name="comment"><br>
		<!--<input type="text" placeholder="Description" name="description"><br>
		<input type="text" placeholder="Price" name="price"><br>
		<input type="text" placeholder="User Id" name="user_id"><br> -->
		<p>
		<input type="submit" value="Add New Comment">
		</p>
	</form>

</body>
</html>


