<!DOCTYPE html>
<html>
<head>
	<title>Edit Your Booking</title>
</head>
<body>
	<h3>Edit Your Booking</h3>
	<form action="/bookings/<%= @booking.id %>" method="post">
		<input type="text" placeholder="Edit Checkin" name="checkin"><br>
		<input type="text" placeholder="Edit Checkout" name="checkout"><br>		

		<p>
		<input type="submit" value="Edit Your Booking" name="decision">
		</p>
		<p><input type="submit" value="Delete/Cancel Your Booking" name="decision"></p><br>
		<p>
	</form>

</body>
</html>