<!DOCTYPE html>
<html>
<head>
	<title>Make A Booking Here!</title>
</head>
<body>
	<h3>Make A Booking Here!</h3>
	<form action="/bookings/create" method="post">
		<input type="text" placeholder="Checkin" name="checkin"><br>
		<input type="text" placeholder="Checkout" name="checkout"><br>
		<input type="text" placeholder="User Id" name="user_id"><br>
		<input type="text" placeholder="Properties Id" name="properties_id"><br>

		<p>
		<input type="submit" value="Make Your Booking Now!">
		</p>
	</form>

</body>
</html>


