<!DOCTYPE html>
<html>
<head>
	<title>Add A Property</title>
</head>
<body>
	<h3>Add Your New Property Here <%= @user.username %> !</h3>
	<form action="/properties/create" method="post">
		<input type="text" placeholder="Title" name="title"><br>
		<input type="text" placeholder="Description" name="description"><br>
		<input type="text" placeholder="Price" name="price"><br>
		<!-- <input type="text" placeholder="User Id" name="user_id"><br> -->
		<p>
		<input type="submit" value="Add Your New Property">
		</p>
	</form>

</body>
</html>


