<!DOCTYPE html>
<html>
<head>
	<title>Properties</title>
</head>
<body>
	<h3>Properties For Booking!</h3>
	<form action="/properties/create" method="post">
		<input type="text" placeholder="Title" name="title"><br>
		<input type="text" placeholder="Description" name="description"><br>
		<input type="text" placeholder="Price" name="price"><br>
		<input type="text" placeholder="User Id" name="user_id"><br>
		<p>
		<input type="submit" value="Add New Property">
		</p>
	</form>

</body>
</html>


