<!DOCTYPE html>
<html>
<head>
	<title>Welcome to your homepage</title>
</head>
<body>
	<div> 
	<h1>Here are the available properties</h1>
		
	</div>
	<table border="1">
		<tr>
			<td>
				<h1>Location</h1>
			</td>
			<td>
				<h1>Price Per Night</h1>
			</td>
		</tr>
		
	</table>

</body>
</html>