<h1>Congratulations You Have Logged In!</h1>
<h1>This Is The Homepage!</h1>

<table border="1">
	<tr>
		<td>
			<h2>Title<h2>
		</td>
		<td>
			<h2>Description<h2>
		</td>
		<td>
			<h2>Price</h2>
		</td>
		<td>
			<h2>Listed By</h2>
		</td>
		<td>
			<h2>Date Posted</h2>
		</td>
		<td>
			<h2>Availability</h2><br>
			<h3>Available: </h3><br>
			<h3>Unavailable: </h3><br>
		</td>
		<td>
			<h2>Book Now!!!</h2>
			<form action="/bookings/:id" method="get">
			<input type="submit" value="Book Now">
				
			</form>
			
		</td>

	</tr>
</table>

<form action="/" method="post">
 <input type="submit" value="Log Out Here!">
</form>
