<h1>AirBnB</h1>
<p>Log In Here</p>
<form action="/homepage" method="post">
  Username:<input type="text" name="user[username]"><br>
  Password:<input type="text" name="user[password]"><br>
  <p><input type="submit" value="Log In"></p>
 </form>


 <h3>Are You New?</h3>
<form action="/users/new" method="get">
 <input type="submit" value="Not a AirBnB user yet? Sign up here!">
</form>