<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
</head>
<body>
	<h3>Sign Up Here!</h3>
	<form action=/index method=post>
		<input type=text placeholder="New Username" name="user[username]"><br>
		<input type=text placeholder="New Password" name="user[password]"><br>
		<p>
		<input type=submit value="Sign up">
		</p>
	</form>

</body>
</html>


